@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

:root {
    --light-bg: #CAD8E5;
    --dark-bg: #34404D;
    --light-txt: #998C77;
    --dark-txt: #34404D;
    --prim-link: #778899;
    --sec-link: #4D412C;
}

* {
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: url('./wood.jpg')
}

h1, h2 {
    font-family: 'Lobster Two', cursive;
    font-size: 2.25rem;
}

h1, h2, p {
    color: var(--light-txt);
    padding: 8px 0;
}

p {
    padding: 8px 40px; 
}

#content {
    background-color: var(--dark-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 632px;
    border-radius: 30px;
    padding: 16px 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-bg);
    color: var(--light-txt);
    list-style-type: none;
    box-shadow: 0 1px 4px black;
    width: 96vw;
    z-index: 99;
}

li {
    padding: 16px;
    font-family: 'Lobster Two', cursive;
    /* font-size: 1.5rem; */
}

li, p {
    font-size: 1.5rem;
    text-align: center;
}

img {
    max-width: 100%;
}